NAME : Virendra Singh

SAP ID : 590029375

EXPERIMENT 3

***LOOPS***

In [5]:
#print first 10 natural numbers using while loops
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [6]:
#want this type of pattern
row = 5
for i in range(1, row + 1, 1):
  for j in range(1, i + 1, 1):
        print(j, end = ' ')
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
#calculate the sum of all numbers from 1 to a given number
sum = 0
x = int(input("Enter a number: "))
for i in range(1,x+1):
  sum+=i
print(sum)

Enter a number: 10
55

In [8]:
# Display numbers from a light using a loop
# 1. The number must be divisble by 5
# 2. The number should be greater than 150
# 3. If the number is greater than 500 then stop the loop
numbers = [12, 75, 150, 180, 145, 525, 50, 877]
for i in numbers:
    if i > 150:
        if i > 500:
            break
        if i % 5 == 0:
                print(i)

180

In [9]:
# Count the total number of digits in a number
num = int(input("Enter a number: "))
count = 0
while num != 0:
    num //= 10
    count += 1
print("Total digits are: ", count)

Enter a number: 83249632567
Total digits are:  11

In [10]:
# print the pattern
rows = 5
column = 5
for i in range(0, rows + 1):
    for j in range(column-i, 0, -1):
      print(j, end = ' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [11]:
# Fibonacci series
n = int(input("Enter number of terms: "))
a, b = 0, 1
print("Fibonacci series: ")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 10
Fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [12]:
# Print factorial of a given number
num = 5
fac = 1
if num < 0:
  print("Factorial does not exist for negative numbers")
elif num == 0:
  print("The factorial of 0 is 1")
else:
  for i in range(1, num + 1):
    fac *= i
  print(fac)

120

In [13]:
# Reverse a integer number
# given = 765432, expected output:234567
num = 765432
rev = 0
print("Given number is: ",num)
while num>0:
  rem = num % 10
  rev = (rev*10) + rem
  num = num // 10
print("Reversed number is: ",rev)

Given number is:  765432
Reversed number is:  234567