Name : Virendra Singh

SAP ID : 590029375

Experiment 01

***1. Install Pyhton & write the steps of installation and understand difference between scripting and interactive modes in IDLE.***

Steps to Install Python:

1.Go to https://www.python.org

2.Click on Downloads and download latest Python version.

3.Run the downloaded installer.

4.Select "Add Python to PATH"
checkbox.

5.Click on Install Now.

6.Wait for installation and click Finish.
Interactive Mode:
Used to execute commands line by line.

Gives immediate output.
Used for testing small programs.
Shows prompt >>>  

Script Mode:
Used to write and save complete programs.

File is saved with .py extension.

Run using Run â†’ Run Module (F5) in IDLE.

In [ ]:
print("hello world")

hello world

***1. Variables***

In [ ]:
# Travel expenditure
food = 230.5
fare = 2000
shopping = 500
print(food)
total = food + fare + shopping
print(total)

230.5
2730.5

***2. Numbers***

In [ ]:

x=12

print(x+5)
print(x-5)
print(x/5)
print(x//5)
print(x%5)
print(x*2)
print(x**2)

17
7
2.4
2
2
24
144

In [ ]:
a = 6-5.7

print(a)
type(a)

0.2999999999999998

float

In [ ]:
#rounding after decimal point

x, y = 569, 65
a =x/y
print(a)

round(a,2)

8.753846153846155

8.75

In [ ]:
#Find the perimeter of a rectangle

In [ ]:
length  = 34
width = 44

perimeter = 2*(length + width)
print(perimeter)

156

In [ ]:
length = int(input("enter the length: "))
width = int(input("enter the width: "))

perimeter = 2*(length + width)
print(perimeter)

enter the length: 34
enter the width: 44
156

***3. Strings***

In [ ]:
text = "Hello World"
text[4]

'o'

text[start(included): stop(excluded): step(s))]

In [ ]:
text = "Hello World"
text[6:11]

'World'

In [ ]:
text = "Hello World"
text[0:11:2]

'HloWrd'

In [ ]:
text[-5:-10:-2]

'Wol'

In [ ]:
text[::-1]

'dlroW olleH'

In [ ]:
text[::2]

'HloWrd'

In [ ]:

text[1] = 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
a = '10'
b = '20'
x = a+b
print(x)
print(type(x))

1020
<class 'str'>

In [ ]:
s1 = 'hello'
s2 = '23'

print(s1 + ' ' + s2)

hello 23

***4. List***

In [ ]:
# Example Mart
item1 = 'rice'
item2 = 'oil'
item3 = 'bread'
item4 = 'fruits'
item5 = 'milk'

In [ ]:
items = ['rice', 'oil', 'bread', 'fruits', 'milk']
print(items)

['rice', 'oil', 'bread', 'fruits', 'milk']

In [ ]:
items[ 2: 5 ]

['bread', 'fruits', 'milk']

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 6
Even

In [ ]:
indian = ['daal', 'samosa', 'naan']
chinese = ['egg roll', 'pot sticker', 'fried rice']
italian = ['pizza', 'pasta', 'risotto']

dish = input("Enter a dish name: ")

***6. for statement***

In [ ]:
expenses = [2300, 6900, 7856, 2569, 1498]
Total = expenses[0] + expenses[1] + expenses[2] + expenses[3] + expenses[4]
print(Total)

21123

In [ ]:

total = 0
for i in range(len(expenses)):
    total = total + expenses[i]
print(total)

21123

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
book_loc = 'desk'
loc = ['chair', 'table', 'sofa', 'bed', 'desk', 'almirah', 'bag']
for i in loc:
  if i == book_loc:
    print("Book is found in", i)
    break
  else:
    print("Book is not found in", i)

Book is not found in chair
Book is not found in table
Book is not found in sofa
Book is not found in bed
Book is found in desk

In [ ]:
for i in range(1,11):
    if i % 2 == 0:
      continue
    print(i*i)

1
9
25
49
81

In [ ]:
for i in range(1,11):
    if i % 2 == 0:
       print(i**100)

1267650600228229401496703205376
1606938044258990275541962092341162602522202993782792835301376
653318623500070906096690267158057820537143710472954871543071966369497141477376
2037035976334486086268445688409378161051468393665936250636140449354381299763336706183397376
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

***7. While***

In [ ]:
i = 1
while i<=10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
tup1 = (12, 34, 55, 64, 78)
print(min(tup1))
print(max(tup1))

12
78

In [ ]:
item_list = [123, 'xyz', 'zara', 'abc']
Tuple_item = tuple(item_list)
print('Tuple_item : ', Tuple_item)

Tuple_item :  (123, 'xyz', 'zara', 'abc')

***9. Dictionary {}***

***10. Fuctions***

In [ ]:
Aditya_marks = [45, 55, 65, 35, 50]
Virendra_marks = [89, 88, 67, 50, 75]
Vivaan_marks = [55, 75, 85, 90, 70]
Naman_marks = [90, 55, 60, 75, 80]
Jayesh_marks = [99, 98, 97, 96, 95]

sum = 0
for i in Aditya_marks:
  sum = sum + i
print("Adtiya: ", sum)

sum = 0
for i in Vivaan_marks:
  sum = sum + i
print("Vivaan: ", sum)

sum = 0
for i in Virendra_marks:
  sum = sum + i
print("Virendra: ", sum)

sum = 0
for i in Naman_marks:
  sum = sum + i
print("Naman: ", sum)

sum = 0
for i in Jayesh_marks:
  sum = sum + i
print("Jayesh: ", sum)

Adtiya:  250
Vivaan:  375
Virendra:  369
Naman:  360
Jayesh:  485

In [ ]:
def marks(student):
  sum1 = 0
  for i in student:
    sum1 = sum1 + i
  return sum1

In [ ]:
Aditya = marks(Aditya_marks)
Vivaan = marks(Vivaan_marks)
Virendra = marks(Virendra_marks)
Naman = marks(Naman_marks)
Jayesh = marks(Jayesh_marks)

print("Aditya: ", Aditya)
print("Vivaan: ", Vivaan)
print("Virendra: ", Virendra)
print("Naman: ", Naman)
print("Jayesh: ", Jayesh)

Aditya:  250
Vivaan:  375
Virendra:  369
Naman:  360
Jayesh:  485

***11. Class***

***EXPERIMENT***

In [ ]:
#Create a variable to store your age and prints its type using type().

age = 18
print(type(age))

<class 'int'>

In [ ]:
#Declare a string variable called x and assign it ithe value "Hello"

x = 'Hello'
print(x)

Hello

In [ ]:
#Question 4

number = 7
decimal = 5.5
word = 'Hello'

print(type((number)))
print(type((decimal)))
print(type((word)))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#Question 5

x = 9
y = 7

print(x+y)
print(x-y)
print(x*y)
print(x/y)

16
2
63
1.2857142857142858

In [ ]:
#Question 6

length = 5
width = 6

square_sum = length**2 + width**2

hypotenuse = sum**(1/2)
print(hypotenuse)

22.02271554554524

In [ ]:
#Question 7

p = 1000
r = 7
t = 5

Simple_interest = p*r*t

print(Simple_interest)

35000

In [ ]:
#Question 8

heigth = 5
base = 6
Area = (heigth*base)/2
print(Area)

15.0

In [ ]:
#Question 9

sec = 9540

hours = sec//3600
x = sec%3600
minutes = x//60
seconds = x%60

print(hours)
print(minutes)
print(seconds)

2
39
0

In [ ]:
#Question 10

x = 5
y = 10

x,y = y,x

print(x)
print(y)

10
5

In [ ]:
#Question 11

n = int(input("Enter a number (n): "))

total_sum = 0

for i in range(1, n + 1):
    total_sum += i

print("The sum of the first {n} natural numbers is: {total_sum}")

Enter a number (n): 5
The sum of the first {n} natural numbers is: {total_sum}

In [ ]:
#Question 12

print("A B A&B A|B A^B")
for a in [0,1]:
  for b in [0,1]:
    print(a,b,a&b,a|b,a^b)

A B A&B A|B A^B
0 0 0 0 0
0 1 0 1 1
1 0 0 1 1
1 1 1 1 0

In [ ]:
#Question 13

num = 8

print("Left Shift: ", num << 1)
print("Right Shift: ", num >> 1)

Left Shift:  16
Right Shift:  4

In [ ]:
#Question 14

seq = (10, 20, 56, 78, 89)
num = 56
print(num in seq)

True

In [ ]:
n = int(input("Enter a number: "))

i = 0
while i < 10:
  i += 1
  print("Table is: ",n*i)

Enter a number: 5
Table is:  5
Table is:  10
Table is:  15
Table is:  20
Table is:  25
Table is:  30
Table is:  35
Table is:  40
Table is:  45
Table is:  50

GitHub Link: https://github.com/codingchocollate/Python_Lab